# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (thường nặng, không đẩy lên repo)
data/raw/*
data/external/*
!data/raw/.gitkeep
!data/external/.gitkeep

# OS / Editor
.DS_Store
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# Kết quả mô phỏng (sinh ra khi chạy, không cần commit)
!outputs/
